
.aboutButton {
    
    align-items: center;
    background: transparent;
    margin-top: 3px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px black solid;
    outline: none;
    padding: 10px 20px 15px 20px;
    /* border-radius: 50px; */
    cursor: pointer;
    
}

.homeButton {
    background: transparent;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 30px;
    /* margin-right: 10px;
    margin-left: 10px; */
    /* border: 1px black solid; */
    /* outline: none; */
    padding: 10px 20px 15px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
}

.favButton {
    background: transparent;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 30px;

    /* border: 1px black solid; */
    /* outline: none; */
    padding: 10px 20px 15px 18px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.aboutButton:hover {
    color: #fffac2;
    box-shadow: 1px 10px 56px -35px rgba(255,250,194,1);
}
.homeButton:hover {
    color: #fffac2;
    box-shadow: 1px 10px 56px -35px rgba(255,250,194,1);
}

.favButton:hover {
    color: #fffac2;
    box-shadow: 1px 10px 56px -35px rgba(255,250,194,1);
}
.buttonRandom:hover {
    color: #fffac2;
    box-shadow: 1px 10px 56px -35px rgba(255,250,194,1);
}

.buttonRandom {

    background: transparent;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px black solid;
    outline: none;
    padding: 10px 20px 10px 20px;
    /* border-radius: 1000px; */
    cursor: pointer;
    
}

.buttonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;

    
}

/* responsive
*/

@media (max-width: 992px) {
    .buttonsDiv {
        display: inline-block;
        align-items: center;
        width: 100%;
    }

    .homeButton {
        margin-top: 40px;
    }

    
}